<html>
    <head></head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"> </script>
        <body ng-app>
        <h1>Terms and policies</h1>
        <ol>
            <li>You will click the I agree button</li>
            <li>You will be there for sure</li>
            <li>You will listen carefully</li>
        </ol>
        Click me: <input type="checkbox" ng-model="checked"></checkbox>
        <input type="submit" value="install" ng-if="checked"/>

    </body>

</html>